@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Page loaded at: <br />
        @ViewData["CurrentTime"] <br />
        @ViewData["Random Name"] <br />
        Photo upload area below:<br />
        <form action="/profile/upload" method="post" enctype="multipart/form-data">

            <label for="photo">Photo:</label>
            <input name="photo" id="photo" type="file">

            <input value="Upload" type="submit">
        </form>
    </div>
</body>
</html>
