@{
    ViewBag.Title = "Apie imgcrv";
}

<h2>imgcrv</h2>

Tai įrankis, kuriuo galima mažinti paveikslėlius, <a href="http://en.wikipedia.org/wiki/Image_scaling">nesuspaudžiant/neištempiant</a> ar tiesiogiai <a href="http://en.wikipedia.org/wiki/Image_cropping">nekarpant</a> pikselių.
<br />
<br />
<b>imgcrv</b> naudoja <b>pikselių gijų pjaustyvmo</b> <i>(angl. <a href="http://en.wikipedia.org/wiki/Seam_carving">Seam Carving</a>)</i> metodą, kuris ir leidžia tai padaryti.
<br />
<br />
Įrankis sukurtas <a href="http://imagemagick.codeplex.com/">ImageMagick.NET</a> bibliotekos pagalba.