@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="" method="post" enctype="multipart/form-data">

    <label for="file">Photo:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="Upload" />

</form>