@{
    ViewBag.Title = "imgcrv";
}

<h4>Įkelti paveikslėlį</h4>
<hr />
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type='file' name='file' id='file' />
    <input type="submit" name="submitButton" value="Įkelti" />
}